html, body {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
}

h1 {
	color: blue;
}

section {
	border: 5px solid red;
}

@media only screen and (min-width: 800px) {

	#container {
		display: grid;
		grid-template-areas: 
			"main main"
			"pic about";
		grid-gap: 5px;
	}

	#header {
		grid-area: main;
	}

	#pic {
		grid-area: pic;
	}

	#about {
		grid-area: about;
	}

	section {
		border: 5px solid green;
	}
}

@media only screen and (min-width: 1200px) {
	
	#container {
		display: grid;
		grid-template-areas:
			"main pic about";
		grid-gap: 5px;
	}

	#pic {
		display: flex;
		justify-content: space-around;
	}

	.image-holder, img {
		height: 100px;
		width: 100px;
		border: 1px solid red;
	}

	#header {
		grid-area: main;
	}

	#pic {
		grid-area: pic;
	}

	#about {
		grid-area: about;
	}

	section {
		border: 5px solid yellow;
	}
}

